/* body
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: plum;
}

.cards .header
{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.cards
{
  margin: 0 auto;
  padding: 2rem;
}

.cards .card 
{
  margin-bottom: 12px;
  width: 600px;
  
}
#btnn {
  background-color: #27bb9a;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.btn2  {
  background-color: #27bb9a;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


.btn-close{
  background-color: #27bb9a;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}