body
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.cards .header
{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.cards
{
  margin: 0 auto;
  padding: 2rem;
}

.cards .card 
{
  margin-bottom: 12px;
  width: 600px;
  
}